*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vw;
    display: flex;
    font-family: sans-serif;
}

h1{
    margin: auto;
    margin-top: 200px;
}

.button{
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 25px;
}

#si{
    left: 35%;
    transform: translateY(-50%) translateX(-20%);
}

#no{
    left: 67%;
    transform: translateY(-50%) translateX(-80%);
}